<h2>Можете написать нам</h2>

<form action="/contacts" method="post">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="email" type="email" class="form-control" placeholder="Введите ваш email">
  </div>

  <textarea name="message" class="form-control" placeholder="оставить свое сообщение" rows="3"></textarea>

  
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>